.contact__conteiner{
  min-height: 100vh;
  width: 100%;
  padding: var(--pad-desk);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--font-fam);
}
.contact__title{
  font-size: var(--font-size4);
  position: relative;
  margin-bottom: 2rem;
  color: var(--font-color);
}
.contact__title::after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: var(--main-color);
}
.contact__bottom{
  display: flex;
  height: auto;
  width: 100%;
}
.contact__devGuy{
  height: auto;
  width: 80%;
}
.contact__bottom-data{
  width: 50%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact__bottom-data-field{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
}

.contact__bottom-data-field:hover{
  cursor: pointer;
}
.contact__bottom-data-field a{
  text-decoration: none;
  color: var(--font-color);
}
.contact__bottom-data-field svg{
  margin-right: 1rem;
  color: var(--font-color);
}


@media only screen and (max-width: 760px) {
  .contact__conteiner{
    padding: var(--pad-mobile);
  }
  .contact__title{
    font-size: var(--font-size3);
  }
  .contact__bottom{
    flex-direction: column;
  }
  .contact__bottom-data{
    height: 50%;
    width: 100%;
  }
  .contact__bottom-data-field{
    margin: 1rem 0;
  }
 
}
