.typing__conteiner{
  margin: 1rem 0;
}
.typing__text{
  font-size: var(--font-size3);
}
.typing__span{
  font-size: var(--font-size3);
  animation: titling 1s linear infinite;
}
@keyframes titling {
  0%{
    opacity: 1;
  }
  49%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@media only screen and (max-width: 760px) {
  .typing__conteiner{
    margin: .5rem 0;
  }
  .typing__text{
    font-size: var(--font-size3);
  }
  .typing__span{
    font-size: var(--font-size3);
  }
}