*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root{
  /*GNRL*/
  --main-color: rgb(10,119,181);
  --main-plain: rgb(246,245,246);
  /*FONTS*/
  --font-color:rgb(49,51,53);
  --font-fam: 'Poppins', sans-serif;
  --font-fam-special:'Silkscreen', cursive;
  --font-size1: .75rem;
  --font-size1b: 1rem;
  --font-size2: 1.25rem;
  --font-size3: 1.75rem;
  --font-size4: 2.5rem;
  --font-size5: 3.5rem;
  /*CONFIG*/
  --pad-desk:10vh 8rem 10vh 8rem;
  --pad-mobile:10vh 1rem 10vh 1rem;
}

[data-theme="dark"] {
  /*GNRL*/
  --main-color: rgb(70,119,181);
  --main-plain: rgb(22, 23, 24);
  /*FONTS*/
  --font-color:rgb(246,245,246);
}